
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #008cba; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
}

.container {
    max-width: 400px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
    overflow: hidden;
    margin-bottom: 40px; 
}

.a {
    text-decoration: none;
}

.header {
    background-color: #89CFF0;
    color: #1a1a7f; 
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    position: relative;
}

.header img {
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.title {
    color: #1a1a7f;
}

.headerSharkSize {
    width: 40px;
    height: 40px;
}

.section-header {
    background-color: #1a1a7f;
    color: white;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    margin: 10px 15px 20px 15px;
}


.section {
    padding: 0 15px 15px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 0.9em;
    margin-bottom: 5px;
}

.input-group input, .input-group textarea, .input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    color: #333;
}

.input-group textarea {
    resize: none;
}

.location-group input {
    width: calc(50% - 5px); 
}

#latitude {
    margin-right: 10px; 
}


.submit-btn {
    display: block;
    width: 90%;
    margin: 20px auto;
    padding: 12px;
    background-color: #89CFF0;
    color: #1a1a7f; 
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.submit-btn:hover {
    background-color: #77b7d8;
}

.locationButton {
    display: block;
    width: 90%;
    margin: 20px auto;
    padding: 12px;
    background-color: #89CFF0;
    color: #1a1a7f; 
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.locationButton:hover {
    background-color: #77b7d8;
}


@media (min-width: 768px) {
    .container {
        max-width: 600px;
    }
}


